#kubectl aliases and variables
export do="--dry-run=client -oyaml"
export now="--grace-period=0 --force"

alias k='kubectl'
alias kns='kubectl config set-context --current --namespace'

alias k8s='terminator -m -b -l k8s'
alias ka='kubectl apply -f'
alias klo='kubectl logs -f'
alias kg='kubectl get'
alias kd='kubectl describe'
alias krm='kubectl delete'
alias kgp='kubectl get pods'
alias kdpo='kubectl describe pods'
alias kgs='kubectl get service'
alias kgno='kubectl get nodes'
alias kdno='kubectl describe nodes'
alias kgns='kubectl get namespaces'
alias kdns='kubectl describe namespaces'
alias ke='kubectl exec'
alias kr='kubectl run'
# https://github.com/ahmetb/kubectl-aliases/blob/master/.kubectl_aliases

alias cls='clear'

alias r=". ranger"
alias vsh="vagrant ssh"

parse_git_branch() {
     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}
export PS1="\u@\h \[\033[32m\]\w\[\033[33m\]\$(parse_git_branch)\[\033[00m\] $ "

export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
export PATH=$PATH:/home/max/.linkerd2/bin
# sudo chmod 644 /etc/rancher/k3s/k3s.yaml
source <(kubectl completion bash)
complete -F __start_kubectl k


